
.container {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
}

h2 {
	margin-bottom: 30px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
    width: 60%;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
}

input[type="button"] {
	background-color: #e07557;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.alert {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.success {
	background-color: #D4EDDA;
	color: #155724;
}

.failure {
	background-color: #F8D7DA;
	color: #721C24;
}

.alert p {
	margin: 0;
}

.alert a {
	font-weight: bold;
}
